/*HEADER*/

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;

}
.headerContainer{
    width: 100%;
    height: 150px;
    display:flex;
    background-color: #303841;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

#headerLogo{
    width:300px;
}

.menu_user, .menu_not{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.box_user, .box_not{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.box_user img, .box_not img{
    width: 40px;
}
/*NOMETELA*/

.nomeTela{
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565B60;
}

/*containerServicos*/

.container_dashboard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.area_dashboard{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
}

.imagem_dash{
    width: 100%;
    height: 150px;
    background-image: url(../img/image-placeholder-500x500.jpg);
    border-radius: 25px 25px 0 0 ;
}

.infos_dash{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

/*FOOTER*/

.footer{
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    color:#f9faf8;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
}

.btn_acessoAp {
    background-color: #565B60;
    color: #f9faf8;
    text-align: center;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    border: 0;
    box-shadow: 0 0 7px #565B60;
    cursor: pointer;
}