/*NOMETELA*/

.nomeTela{
    color: white;
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
}

.container_financeiro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.tabela_finan {
    width: 90%;
    border-radius: 25px;
    box-shadow: 0 0 10px #565B60;
    background-color: white;
    border-collapse: collapse; /* Para remover espaços entre as bordas das células */
}

.tabela_finan th, .tabela_finan td {
    width: 20%; /* Ajuste conforme necessário */
    text-align: center;
    padding: 15px 0;
    
}

.tabela_finan thead th {
    width: auto;
    text-align: center;
    padding: 20px;
    
}

.tabela_finan tbody {
    width: 100%;
    border-bottom: 2px solid #303841;
}

.tabela_finan tbody tr {
    width: 100%;
    display: table-row; /* Garantir que as linhas sejam exibidas como linhas de tabela */
}

.tabela_finan tbody tr:last-child {
    border-bottom: none;
}

.tabela_finan th[colspan="5"] {
    width: 100%; /* Garante que o título com colspan ocupe a largura total */
}

.btn_boleto {
    background-color: #565B60;
    color: #f9faf8;
    text-align: center;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    border: 0;
    box-shadow: 0 0 7px #565B60;
    cursor: pointer;
}


/*FOOTER*/

.footer{
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    color:#f9faf8;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
}
