/*HEADER*/
a{
    text-decoration: none;
    color: #f9faf8;
}

.links{
    list-style: none;
}

li{
    float:left;
    padding: 8px;
}

.menu_mobile, .menu_user{
    display: none;
}

.headerContainer{
    width: 100%;
    height: 150px;
    display:flex;
    background-color: #303841;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

#headerLogo{
    width:250px;
}

/*NOMETELA*/

.nomeTela{
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #565B60;
}


.container_financeiro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.tabela_finan{
    width: 900px;
    border: 2px solid #303841;
    border-radius: 25px;
    box-shadow: 0 0 10px #565B60;

}

.tabela_finan > .titulo_tabela > th{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela_finan > tbody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabela_finan > tbody > tr { 
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
.tabela_finan > tbody > tr:last-child{
    border-bottom: none;
}

.tabela_finan > tbody > tr > th{
    width: 100%;
}

.tabela_finan > tbody > tr > td{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_boleto{
    background-color: #565B60;
    color:#f9faf8;
    text-align:center;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    border: 0;
    box-shadow: 0 0 7px #565B60;
    cursor: pointer;
}


/*FOOTER*/

.footer{
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    color:#f9faf8;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .footer{
        position: fixed;
        bottom: 0;
    }

}