@media screen and (max-width: 768px) {

    /*INDEX*/
    
    /*HEADER*/
    .header{
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    #headerLogo{
        width:250px;
    }

    .menu_user, .menu_not{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .box_user, .box_not{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .box_user img, .box_not img{
        width: 40px;
    }

    /*DESCRIÇÃO*/

    .card{
        width: 90%;
        text-align: center;
    }

    .image_decric{
        display: none;
    }


    /*AVALIAÇÕES*/
    /*IDEIA: fazer um carrossel com as avaliações para ocupar menos espaço*/

    .randInfoContainer{
        flex-direction: column;
    }
    
    /*SOBRENOS*/

    .quote {
        width: 90%;
        font-size: 28px;
    }

    /*ADVERTISING*/

    .rectangle{
        width: 90%;
    }
    /*INDEX*/

    /*REGISTRO/LOGIN*/

    .formLogin{
        width: 300px;
    }

    /*REGISTRO/LOGIN*/


    /*SERVICOS*/

    #abrirChamado{
        width: 70%;
    }

}

@media screen and (max-width: 1200px) {
    /*EMERGENCIA*/
    .area_emergencia{
        width: 90%;
    }

    /*SERVICOS*/

    .area_servicos{
        width: 90%;
    }
}