@media screen and (max-width: 768px) {

    /*INDEX*/

    /*DESCRIÇÃO*/

    .card{
        width: 90%;
        text-align: center;
    }

    .image_decric{
        display: none;
    }


    /*AVALIAÇÕES*/
    /*IDEIA: fazer um carrossel com as avaliações para ocupar menos espaço*/

    .randInfoContainer{
        flex-direction: column;
    }
    
    /*SOBRENOS*/

    .quote {
        width: 90%;
        font-size: 28px;
    }

    /*ADVERTISING*/

    .rectangle{
        width: 90%;
    }
    /*INDEX*/

    /*REGISTRO/LOGIN*/

    .formLogin{
        width: 300px;
    }

    /*REGISTRO/LOGIN*/


    /*SERVICOS*/

    #abrirChamado{
        width: 70%;
    }

}



@media screen and (max-width: 1200px) {

    #headerLogo{
        display: none;
    }
    /*EMERGENCIA*/
    .area_emergencia{
        width: 90%;
    }

    /*SERVICOS*/

    .area_servicos{
        width: 90%;
    }
}