
*{
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;

}
/*NOMETELA*/

.nomeTela{
  color: white;
  padding: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303841;
}



.container_dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

.area_dashboard{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
}

.imagem_dash{
    width: 100%;
    height: 150px;
    background-image: url(../img/image-placeholder-500x500.jpg);
    border-radius: 25px 25px 0 0 ;
}

.infos_dash{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

/*FOOTER*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303841;
    color: #f9faf8;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  main {
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }
  /* Style page content */
  
.main {
    flex-grow: 1;
    display: flex;
    
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }